footer {
  height: 200px;
  width: auto;
  background-color: #614491;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.social-container {
  border: 2px solid black;
  border-radius: 20px;
  padding: 0;
}

.social-items {
  list-style-type: none;
  padding: 2px;
}

/**************************
      Responsive  Design
**************************/

/* Tablet */

@media only screen and (min-width: 768px) {
}

/* Desktop */

@media only screen and (min-width: 1200px) {
}
