footer {
  height: 200px;
  width: auto;
  background-image: linear-gradient(45deg, #c9daff, #82dcff);
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
}

.footer-container,
.copyright {
  width: 100%;
  color: #5b6273;
}

.social-container {
  border-radius: 20px;
  padding: 0;
}

.social-items {
  list-style-type: none;
  padding: 2px;
}

.copyright {
  margin: 0 auto;
  text-align: center;
  padding-top: 160px;
  border-bottom: 2px solid black;
  width: 20%;
}

/********************************
    -    Social Networks
********************************/

.social-container,
.footer-logo {
  width: 33%;
}

.footer-titre {
  padding-bottom: 20px;
  text-align: center;
  color: #5b6273;
}

.social-container {
  display: flex;
  flex-direction: column;
}

.social-icons {
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.social {
  margin: 0 10px;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}

a.github {
  color: #1a1717;
}

a.facebook {
  color: #304c88;
}

/**************************
      Responsive  Design
**************************/

/* Tablet */

@media only screen and (min-width: 768px) {
}

/* Desktop */

@media only screen and (min-width: 1200px) {
}
