.bg-img {
  opacity: 0.7;
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-container {
  padding: 0;
}

/**************************
           Navbar
**************************/
header {
  height: 500px;
}

.menu-list {
  list-style-type: none;
  background-image: linear-gradient(45deg, #c9daff, #82dcff);
  margin: 0;
  display: flex;
  justify-content: space-around;
  line-height: 45px;
  padding-inline-start: 0;
  box-sizing: inherit;
}

.menu-list-item {
  padding: 5px 0px;
  font-size: 24px;
}

.menu-list-item a {
  text-decoration: none;
  color: #5b6273;
}

.menu-list-item a:hover {
  color: #cf924bdc;
}

/**************************
      Responsive  Design
**************************/

/* Tablet */

@media only screen and (min-width: 768px) {
}

/* Desktop */

@media only screen and (min-width: 992px) {
}
