.project-container {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  width: 80%;
  margin: 2% auto;
  box-shadow: 1px 3px 3px 2px black;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #6285bc, #66666b);
}

.project-container a {
  color: #0d0d0d;
  text-decoration: none;
}

.project-container a:hover {
  text-decoration: underline;
}

.project-item {
  flex: 1 80%;
  margin: 2%;
  max-width: 500px;
  max-height: 300px;
  border-radius: 20px;
  box-shadow: 1px 2px 1px 1px black;
  color: white;
  cursor: pointer;
  display: flex;
}

.project-item h2 {
  border-bottom: none;
  color: #0d0d0d;
  font-style: unset;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}

.project-item h2 i {
  position: absolute;
  top: 5px;
  right: 10px;
}

.project-image {
  position: absolute;
  left: 0px;
  border-radius: 50%;
  top: 0px;

  margin: 0;
}
.project-item h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.hidden {
  display: none;
}

.frontcard:hover {
  display: block;
}

.thumbnail {
  position: relative;
  left: 0px;
  top: 0px;
  overflow: hidden;
  border-radius: 5%;
  min-width: 499px;
  height: 250px;
}

.thumbnail:hover {
  opacity: 0;
}

.btn-card {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 35%;
}

.btn-card:hover {
  cursor: pointer;
}

.flippy-card,
.flippy-container {
  max-width: 400px !important;
  border-radius: 20px;
}

.front i {
  color: #3079c2;
}

.fa-user {
  margin-right: 3px;
}
